img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}
body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
  text-align: center;
  color: purple;
  font-weight: 400;
}
.container {
  width: 600px;
  margin: auto;
  /* padding: 100px; */
}
.img-container {
  width: 500px;
  height: 500px;
  margin: auto;
}
button {
  display: block;
  margin: auto;
  margin-top: 3rem;
  border: none;
  padding: 0.375rem 0.75rem;
  background-color: purple;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: purple;
}

@media screen and (max-width: 500px) {
  .img-container {
    width: 90vw;
    /* height: 30rem; */
  }
  .container {
    width: 90vw;
    padding: 1rem;
    margin-top: 2rem;
  }
}
